# Ignorer les fichiers de données CSV
*.csv

# Ignorer les fichiers compilés Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Ignorer les fichiers temporaires
*.tmp
*.log
*.bak
*.swp
*.swo
*.png

# Ignorer les fichiers de données CSV
*.csv

# Ignorer les fichiers compilés Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Ignorer les fichiers temporaires
*.tmp
*.log
*.bak
*.swp
*.swo
*.png

# Environnements virtuels
.env
.venv/
env/
venv/
*.env
*.db

# Notebooks et checkpoints
.ipynb_checkpoints/

# Dossiers MLflow
mlruns/
mlartifacts/

# Fichiers système
.DS_Store
Thumbs.db

# Dagster - Tous les dossiers temporaires (pattern global)
**/.tmp_dagster_home_*/
.tmp_dagster_home_*/
**/.tmp_dagster_home_4bm56w7a/
.tmp_dagster_home_4bm56w7a*/
.tmp_dagster_home_4bm56w7a/*


# Modèles et métriques générés
models/
metrics/
*.pkl

# Configuration LakeFS
lakectl.yaml

# Autres fichiers temporaires spécifiques
splityear
definitions.py